{% extends "base.html" %}
{% block content %}
    <h1>Meet Our Team</h1>

    <div class="frame">
      <a target="_blank" href="{{url_for('static', filename='images/group6.jpg')}}">
        <img src="{{url_for('static', filename='images/group6.jpg')}}" alt="Team Pic">
      </a>
      <div class="desc">Example 4</div>
    </div>

        <div class="desc">We want to thank Mohan, Alan, 
          Devin,Ryan and Annu For all your help and support during this class.</div>

    <p class="team-member"> Thanks for peeking, feel free to reach out to us. </p>
    <p class="team-member"> Alicia: alicia.m@ucsd.com </p>
    <p class="team-member"> Joseph: joseph.b@ucsd.com </p>
  <p class="team-member"> Pete: pete.c@ucsd.com </p>
    <p class="team-member"> Tony: tony.g@ucsd.com </p>
    <a href="index.html"> Back Home</a>

{% endblock content %}

