{% extends "base.html" %}
{% set active_page = "Home" %}
{% block content %}
<!-- <h2>Data Science Salary</h2> -->


<script src="https://kit.fontawesome.com/8502dc2626.js" crossorigin="anonymous"></script><link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Sofia%7CUrbanist%7CBangers%7CPatrick+Hand&display=swap" />
<title>Home</title></head>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Summary of Findings</h1>
  </div>

  <body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="filters">
        <form style="background-color: #829FA0;">
          <p>Filter Search</p>
          <ul class="list-group">
            <li class="list-group-item">

              <select class="js-example-basic-multiple" multiple="multiple">
                <option value="US">United States</option>
                <option value="IND">India</option>
                <option value="GBR">Great Britain</option>
              </select>
            </li>

            <!-- <li class="list-group-item bg-dark"> -->

</li>

</ul>
</form>
  <div class="desc">Example #1</div>

  <div class='tableauPlaceholder' id='viz1658599644137' style='position: relative'>
  <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;U_&#47;U_S_Economy_16582970632620&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
  <object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='U_S_Economy_16582970632620&#47;Dashboard1' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;U_&#47;U_S_Economy_16582970632620&#47;Dashboard1&#47;1.png' />
    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1658599644137');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1420px';vizElement.style.minHeight='987px';vizElement.style.maxHeight='1987px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
<!-- <a target="_blank" href="{{url_for('static', filename='images/img_5terre.jpg')}}">
        <img src="{{url_for('static', filename='images/img_5terre.jpg')}}" alt="Chart 1"> -->
</body> 


    </div>
  </div>
</body> 
<p></p>
<p></p>
<p></p>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="filters">
          <form style="background-color: #829FA0;">
            <p>Filter Search</p>
            <ul class="list-group">
              <li class="list-group-item">
  
                <select class="js-example-basic-multiple" multiple="multiple">
                  <option value="US">United States</option>
                  <option value="IND">India</option>
                  <option value="GBR">Great Britain</option>
                </select>
              </li>
  
              <!-- <li class="list-group-item bg-dark"> -->
  
  </li>
  
  </ul>
  </form>
    <div class="desc">Example #2</div>

        <a target="_blank" href="{{url_for('static', filename='images/img_forest.jpg')}}">
          <img src="{{url_for('static', filename='images/img_forest.jpg')}}" alt="Chart 2">
        </a>
    
  </body> 
  <p></p>
  <p></p>
  <p></p>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="filters">
        <form style="background-color: #829FA0;">
          <p>Filter Search</p>
          <ul class="list-group">
            <li class="list-group-item">

              <select class="js-example-basic-multiple" multiple="multiple">
                <option value="US">United States</option>
                <option value="IND">India</option>
                <option value="GBR">Great Britain</option>
              </select>
            </li>
  <body>
<div class="desc">Example #3</div>
               </body>
<body>
        <a target="_blank" href="{{url_for('static', filename='images/img_mountains.jpg')}}">
          <img src="{{url_for('static', filename='images/img_mountains.jpg')}}" alt="Chart 3">
        </a>
      </div>
      
      <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="filters">
                <form style="background-color: #829FA0;">
                  <p>Filter Search</p>
                  <ul class="list-group">
                    <li class="list-group-item">
        
                      <select class="js-example-basic-multiple" multiple="multiple">
                        <option value="US">United States</option>
                        <option value="IND">India</option>
                        <option value="GBR">Great Britain</option>
                      </select>
                    </li>
        
                    <!-- <li class="list-group-item bg-dark"> -->
        
        </li>
        
        </ul>
        </form>
          <div class="desc">Example #4</div>
        <a target="_blank" href="{{url_for('static', filename='images/img_lights.jpg')}}">
          <img src="{{url_for('static', filename='images/img_lights.jpg')}}" alt="Chart 4">
        </a>

</style>
<p></p>
<p></p>
<h1>Conclusion</h1>
<p>Data Science is a field of employment that will be around for a long time.</p>

      
<!-- <a class="page-link" href="about.html">About Our Team</a> -->
    </div>
<script src="{{url_for('static', filename='js/home.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"    crossorigin="anonymous"></script>

<body>




<script src="script.js"></script>
</body>

{% endblock %}
