<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <style>
<div class='something'>
<img src="Images\MyImage.jpg" id="bg">
</div>
        </style>
        <meta charset="utf-8">
        <title>About Our Team</title>
        <link rel="stylesheet" href="style.css">

            </style>
    
      <body>

        <div class="frame">
            <a target="_blank" href="images/tableau.logo.jpg">
              <img src="images/tableau.logo.jpg" alt="Cinque Terre" width="300" height="200">
            </a>

            <h1>The Money Maker</h1>
            <div class="desc">These are the awesome tableau interactive garphs and stuff.</div>
    
 

<a href="index.html"> Back Home</a>
</body>
</html> -->

{% extends "base.html" %}
{% set active_page = "About" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">




                    



</div>
<script src="{{url_for('static', filename='js/about.js')}}"></script>
{% endblock %}