{% extends "base.html" %}
{% set active_page = "About" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="American Economy Analysis" />
    <title>Our Github Repository</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
        <head>
            <title>HTML Backgorund Color</title>
         </head>
         <body style="background-color:lightblue;">
        <meta charset="utf-8">
        <title>About Our Team</title>
        <link rel="stylesheet" href="style.css">
      </head>
      <body>
        <h1>Meet Our Team</h1>
        <div class="frame">
            <a target="_blank" href="images/group6.jpg">
              <img src="images/group6.jpg" alt="Cinque Terre" width="300" height="200">
            </a>
            <div class="desc">We want to thank Mohan, Alan, Devin, Ryan and Annu For all your help and support during this class.</div>
          </div>
</head>


<body>
<a href="home.html"> Back Home</a>   
</body>
</html>
{% endblock %}


                    



