body {
    background-color: #aef1f5;;
}

.page-link {
    font-size: 20px; color:#500000;
}

.nav-link {
    color:white !important;
}

.list-group-item {
    background-color: #00000000;
}

<body>
    