.hero {
    height:100vh;
}
.hero::before {
    content:"";
    /* background-image:url("../images/texture.jpg");  */
    /* height:100%;
    overflow: hidden; */
    background-color: rgba(130,159,160, 0.9);
    /* opacity: 0.5;
    background-blend-mode:soft-light; */
   
    /* "{{url_for('static', filename='images/.jpg')}}"> */
    /* <a target="_blank" href="{{url_for('static', filename='images/wg3.jpg')}}"></a> */
}

/* body:before {
    background-color: #aef1f5;
    opacity: 0.9;
} */

p {
    width: max-content;
}
.page-link {
    font-size: 20px; color:#500000;
}

.nav-link {
    color:white !important;
}

.list-group-item {
    background-color: #00000000;
}

.tableauPlaceholder {
    width: 80vw !important;
}
    